main{
    width:1200px;
    height:6493.72px;
    /* background:pink; */
    margin:0 auto;
    box-sizing:border-box;	
    /* z-index:11; */
    /* position:relative; */
    margin-top: 20px;
}
main section{
    margin-bottom: 50px;
}
section .new,section .brand,section .store{
    width: 1200px;
} 
section .banner .swiper-container-lunbotu{
    width: 1200px;
    height: 512px;
    margin-bottom:15px; 
    margin: 0 auto;
    position: relative;
    
}
/* 轮播图图片没有加效果 */
section .swiper-container-lunbotu .swiper-wrapper img{
    height:512px;
    width: 1200px;
    margin-bottom: 10px;
}
section .banner .small-banner {
    width: 100%;
    height:190px;
    background-color: #be0008;
    margin-bottom: 50px;  
    
}
 .banner .small-banner ul {
	width:100%;
	height:190px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
    align-items:center;
    margin-bottom: 50px;
}
.title{
    position: relative;
    border: 2px solid #e51f1d;
    margin-bottom: 25px;
}
.title>h2{
    width: 270px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 900;
    color: #e51f1d;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -135px;
}
.title>h2>.new{
    background-position: 0 0;
}
.title>h2 .hot{
    background-position: -45PX 0;
}
.title>h2 .part{
    background-position: -133px 0;
}
.title>h2>i{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 10px;
    background: url(../image/images/title-icon.png)
}
.title>a{
    width:75px;
    text-align: right;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: 0;
}
.new ul{
    margin: 50px 0 30px;
}
.new ul li{
    float: left;
    width: 12.66666%;
    padding: 0 2%;
}
.new ul li h2{
    margin: 10px 0 5px;
    color: #717071;
    word-break: break-all;
    line-height: 18px;
    height: 54px;
}
.new u li p{
    color: #e51f1d;
    font-size: 14px;
}
.hot .big-pic img{
    display: none;
}
.hot .big-pic .active{
    display: block;
}
.hot .content{
    margin-left:330px; 
}
.hot .content ol{
    height: 32px;
    text-align: center;
}
.hot .content ol li{
    float: left;
    width: 32.333%;
    margin-right: 1.5%;
    line-height: 32px;
    color: #fff;
    background: #979797;
    position: relative;
}
.hot .content ol li:last-child{
    margin-right: 0;
}
.hot .content ol li h3{
    font-size: 14px;
}
.hot .content ol li i{
    display: none;
    width: 0;
    height:0;
    border-left: 8px solid transparent;
    border-right: 8 solid transparent;
    border-top: 6px solid #e51f1d;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.hot .content ol li .active{
    background: #e51f1d;
}
/* .hot .content ul{
    display: none;
}
.hot .content ul .active{
    display: block;
} */
.hot .content ul{
    display: block;
}
.hot .content ul li{
    float: left;
    width: 33.333%;
    margin-top: 20px;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
}
.hot .content ul li:last-child{
    margin-right: 0;
}
.hot .content ul li img{
    width:60%;
    padding: 0 20%;
}
.hot .content ul li h2{
    display: block;
    height: 32px;
    line-height: 16px;
    color: #717071;
    margin: 14px 10% 2px;
    overflow: hidden;
    word-break: break-all;
}
.hot .content ul li p{
    margin: 0 10%;
    color: #717071;
}
.hot>a>img{
    margin-top: 50px;
}
.brand .container{
    padding: 32px 0 22px;
    background-color: #f3f3f3;
}
.brand .container>ul.brand-pic{
    margin-bottom: 30px;
}
.brand .container>ul.brand-pic li{
    width: 24%;
    margin-right: 1.333%;
    float: left;
}
.brand .container>ul.brand-pic li:last-child{
    margin-right: 0;
}
.brand .container>ul.brand-list{
    margin-bottom: 0;
}
.brand .container>ul.brand-list li{
    float: left;
    width: 11%;
    margin-right: 1.5%;
    margin-bottom: 10px;
    text-align: center;
}
.brand .container>ul.brand-list li img{
    border: 1px solid #d6d5d5;
}
.brand .container>ul.brand-list li.more{
    width: 23%;
}
.brand .container>dl.likeit{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.brand .container>dl.likeit>dt{
    width: 100%;
    margin-bottom: 20px;
}
.brand .container>dl.likeit>dt>h2{
    color: #343434;
    font-size: 18px;
}
.brand .container>dl.likeit>dd{
    box-sizing: border-box;
    width: 10%;
    margin-bottom: 5px;
}
.part{
    text-align: center;
}
.part ul{
    display: flex;
    margin: 20px 0 40px;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.part ul li img{
    width: 100%;
}