main{
    width:1200px;
    margin:0 auto;
    box-sizing:border-box;	
    /* z-index:11; */
    position:relative;
    margin-top: 20px;
}
main section{
    margin-bottom: 50px;
  
}
 .new, .brand,.store{
    width: 1200px;
} 
/* 都是采用弹性布局 */
.banner .small-banner ul,.part .title-pic,.store .container .core ul,.video .tab1,.tab2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
/* 视频专区和表友晒单a标签的悬停效果 */
.video ul li a:hover,.share ul li a:hover,.news .container .r .content ul li a:hover,.news .container .content dl dd a:hover{
    text-decoration: underline;
    /* color: #343434; */
}
/* .banner{
    position: absolute;
    top: 0;left: 0;
} */

.banner .swiper-container-lunbotu{
    width: 1200px;
    height: 512px;
    margin-bottom:15px; 
    margin: 0 auto;
 
    
    
}
/* 轮播图图片没有加效果 */
.swiper-container-lunbotu .swiper-wrapper img{
    height:512px;
    width: 1200px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;left: 0;
}
.banner .small-banner {
    width: 100%;
    height:190px;
    margin-top:10px;
    margin-bottom: 50px;  
    
}
 .banner .small-banner ul {
	width:100%;
	height:190px;
    margin-bottom: 50px;
}
.title{
    position: relative;
    border: 2px solid #e51f1d;
    margin-bottom: 25px;
}
.title>h2{
    width: 270px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 900;
    color: #e51f1d;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -135px;
}
.title>h2>.new{
    background-position: 0 0;
}
.title>h2 .hot{
    background-position: -45PX 0;
}
.title>h2 .part{
    background-position: -133px 0;
}
.title>h2>i{
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-right: 10px;
    background: url(../image/images/title-icon.png)
}
.title>h2>span{
    font-size: 14px;
    margin-left: 10px;
    vertical-align: 1px;
}
.title>a{
    width:75px;
    text-align: right;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: 0;
}
.new ul{
    margin: 50px 0 30px;
}
.new ul li{
    float: left;
    width: 12.66666%;
    padding: 0 2%;
}
.new ul li h2{
    margin: 10px 0 5px;
    color: #717071;
    word-break: break-all;
    line-height: 18px;
    height: 54px;
}
.new u li p{
    color: #e51f1d;
    font-size: 14px;
}
.hot .big-pic img{
    display: none;
}
.hot .big-pic .active{
    display: block;
}
.hot .content{
    margin-left:330px; 
}
.hot .content ol{
    height: 32px;
    text-align: center;
}
.hot .content ol li{
    float: left;
    width: 32.333%;
    margin-right: 1.5%;
    line-height: 32px;
    color: #fff;
    background: #979797;
    position: relative;
}
.hot .content ol li:last-child{
    margin-right: 0;
}
.hot .content ol li h3{
    font-size: 14px;
}
.hot .content ol li i{
    display: none;
    width: 0;
    height:0;
    border-left: 8px solid transparent;
    border-right: 8 solid transparent;
    border-top: 6px solid #e51f1d;
    position: absolute;
    left: 50%;
    margin-left: -8px;
}
.hot .content ol:hover li.active{
    background: #e51f1d;
}
.hot .content ul{
    display: none;
}
.hot .content  ul.active{
    display: block;
}
.hot .content ul li{
    float: left;
    width: 33.333%;
    margin-top: 20px;
    box-sizing: border-box;
    border-right: 1px solid #dbdbdb;
}
.hot .content ul li:last-child{
    margin-right: 0;
}
.hot .content ul li img{
    width:60%;
    padding: 0 20%;
}
.hot .content ul li h2{
    display: block;
    height: 32px;
    line-height: 16px;
    color: #717071;
    margin: 14px 10% 2px;
    overflow: hidden;
    word-break: break-all;
}
.hot .content ul li p{
    margin: 0 10%;
    color: #717071;
}
.hot>a>img{
    margin-top: 50px;
}
.brand .container{
    padding: 32px 0 22px;
    background-color: #f3f3f3;
}
.brand .container>ul.brand-pic{
    margin-bottom: 30px;
}
.brand .container>ul.brand-pic li{
    width: 24%;
    margin-right: 1.333%;
    float: left;
}
.brand .container>ul.brand-pic li:last-child{
    margin-right: 0;
}
.brand .container>ul.brand-list{
    margin-bottom: 0;
}
.brand .container>ul.brand-list li{
    float: left;
    width: 11%;
    margin-right: 1.5%;
    margin-bottom: 10px;
    text-align: center;
}
.brand .container>ul.brand-list li img{
    border: 1px solid #d6d5d5;
}
.brand .container>ul.brand-list li.more{
    width: 23%;
}
.brand .container>dl.likeit{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.brand .container>dl.likeit>dt{
    width: 100%;
    margin-bottom: 20px;
}
.brand .container>dl.likeit>dt>h2{
    color: #343434;
    font-size: 18px;
}
.brand .container>dl.likeit>dd{
    box-sizing: border-box;
    width: 10%;
    margin-bottom: 5px;
}
.part{
    text-align: center;
}
.part .title-pic{
    margin: 20px 0 40px;
}
.part .title-pic li img{
    width: 100%;
}
.part .product-pic li{
    float: left;
    width: 16.6%;
    text-align: left;
}
.part .product-pic li img{
    width: 70%;
    height: 70%;
    padding: 0 15%;
    border-right: 1px solid #dedede;
}
.part .product-pic li h4{
    line-height: 18px;
    height: 36px;
    margin: 20px 0 5px;
}
.part .product-pic li h4,.part .product-pic li p{
    padding: 0 10%;
    color: #727171;
    width: 80%;
}
.store>h3{
    line-height: 72px;
    text-align: center;
    color: #b7a46c;
    font-size: 22px;
    font-weight: 900;
}
.store .container{
    background: #f7f6f0;
    padding:20px 0 50px;
    text-align: center;
}
.store .container .core{
    margin-bottom: 0;
}
.store .container .core>a{
    display: inline-block;
    width: 110px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
}
.store .container .core ul{
    text-align: left;
    margin-top: 40px;
}
.store .container .core ul li{
    border: 1px solid #cdcbca;
    border-radius: 5px;
    background-color:#fff;
}
.store .container .core ul li:hover{
    border: 2px solid #be460a;
}
.store .container .core ul li a{
    padding: 20px 15px 30px;
    margin: 1px; 
}
.store .container .core ul li a h6,.store .container .core ul li a p,.store .container .core ul li a span{
    padding: 0 5px;
    margin-left: 20px;
}
.store .container .core ul li a h6{
    height: 56px;
    line-height: 28px;
    font-size: 20px;
    color: #b7a46c;
    overflow: hidden;
    
}
.store .container .core ul li a p{
    height: 36px;
    line-height: 18px;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
    overflow: hidden;  
}
.store .container .core ul li a span{
    line-height: 18px;
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.store .container .core ul li a  img{
    width: 80%;
    margin: 10px 23px;
}
.video .tab1,.tab2{
    margin-top: 50px;
}
.video .tab2{
    margin-top: 30px;
}

.video ul li img{
    width: 80%;
}
.video ul li p{
    font-size: 16px;
    line-height: 22px;
    height: 66px;
    margin-top: 10px;
}
.news .container{
    padding-top:40px;
    background-color: #f3f3f3; 
    height: 750px;
}
.news .r .content{
    width: 324px;
}
.news .r .content .title{
    margin-bottom: 12px;
    border: none;
    position: relative;
}
.news .r .content .title a{
    font-size: 16px;
    line-height: 16px;
    color: #b7a46c;
    position: absolute;
    top: -28px;
    left:0px;
}
.news .container .r .content .pic{
    display: block;
    cursor: pointer;
    position: relative;
}
.news .container .r .content .pic img{
    width: 324px;
    height: 208px;
    margin-bottom: 25px;
    z-index: 30;
}
.news .container .r .content .pic p,.news .container .content .pic p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    bottom: -27px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition:1s;
    z-index: 40;
}
.news .container .r .content .pic>p:hover,.news .container .content .pic p:hover{
    display: block;
    transform:translateY(-26px);  
}
.news .container .r .content ul li{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .container .r .content ul li a{
    font-size: 14px;
    line-height: 32px;
    color: #595757;
}
.news .container .r .gif{
    margin-top: 45px;
}
.news .container .l{
    margin-right: 324px;
}
.news .container .content{
    margin-bottom: 50px;
}
.news .container .content .pic{
    display: block;
    cursor: pointer;
    position: relative;
}
.news .container .content .pic img{
    width: 324px;
    height: 208px;
}
.news .container .content dl{
    width: 50%;
    margin-left: 364px;
}
.news .container .content dl dt{
    margin-bottom: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dadbdc;
}
.news .container .content dl dt a{
    font-size: 16px;
    line-height: 16px;
    color: #b7a46c;
}
.news .container .content dl dd{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news .container .content dl dd a{
    font-size: 14px;
    line-height: 32px;
    color: #595757;
}
.rank .content{
    float: left;
    width: 33.3%;
}
.rank .content strong{
    display: block;
    color: #b7a46c;
    font-size: 18px;
    line-height: 54px;
}
.rank .content .tab{
    margin-bottom: 20px;
}
.rank .content .tab span.active{
    background: #b7a46c;
    color: #ffffff;
}
.rank .content .tab span{
    float: left;
    width: 25%;
    background: #e2e1e0;
    color: #616161;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    margin-right: 6px;
    cursor: pointer;
    position: relative;  
}
.rank .content ul li{
    margin-bottom: 12px;
    width: 310px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rank .content ul li .one{
    background-color: #b5a26c;
}
.rank .content ul li .two{
    background-color: #bcab7a;
}
.rank .content ul li .three{
    background-color: #c4b589;
}
.rank .content ul li .four{
    background-color: #cbbe98;
}
.rank .content ul li .five{
    background-color: #d3c7a7;
}
.rank .content ul li .six{
    background-color: #979797;
}
.rank .content ul li .seven{
    background-color: #a1a1a1;
}
.rank .content ul li .eight{
    background-color: #acacac;
}
.rank .content ul li .nine{
    background-color: #b6b6b6;
}
.rank .content ul li i{
    width: 35px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 5px;
    padding: 4px;
}
