.col-main{
width:1200px;
}
main section.breadcrumbs{
    padding: 20px 0;
}
main section.breadcrumbs ul li{
    float: left;
    color: #9d9e9f;
}
main section.breadcrumbs ul li a{
    color: #9d9e9f;
}
main section.summary .summary-image{
    width: 576px;
}
main section.summary .summary-image .thumbanil{
    width: 70px;
}
main section.summary .summary-image .thumbanil ul{
    display: block;
    width: 100%;
}
main section.summary .summary-image .thumbanil ul li{
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
main section.summary .summary-image .thumbanil ul li.current{
    border: 1px solid #000;
}
main section.summary .summary-image .thumbanil ul li img{
    width: 100%;
}
main section.summary .summary-image .picture{
    width: 490px;
    position: relative;
}
main section.summary .summary-image .picture ul{
    cursor: pointer;
}
main section.summary .summary-image .picture ul li.current{
    display: block;
}
main section.summary .summary-image .picture ul li {
    display: none;
}
main section.summary .summary-image .picture ul li img{
    width: 490px;
    height: 490px;
    margin: auto;
}
main section.summary .summary-image p.tip{
    display: inline-block;
    margin: 28px 0 0 15%;
    font-size: 12px;
    color: #b2b2b2;
    line-height: 20px;
    border-bottom: none;
}
main section.summary .summary-image .icon360{
    width: 70px;
    height: 70px;
    float: right;
    cursor: pointer;
}
main section.summary .summary-news{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d2d2d2;
    padding: 20px 30px;
    margin-top: 20px;
}
main section.summary .summary-news .title{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}
main section.summary .summary-news .more{
    padding-left: 20px;
    font-weight: 400;
    display: inline-block;
    font-size: 12px;
    color: #a3a3a3;
}
main section.summary .summary-news ul{
    width: 100%;
}
main section.summary .summary-news ul li{
    width: 100%;
    list-style: disc inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
main section.summary .summary-news ul li a{
    line-height: 2;
    font-size: 12px;
    color: #747474;
}