/*知道*/
.knowNav{position: relative;}
.knowNav .menulist{padding: 0;}
.knowNav .menulist li{width: 150px;text-align: center;}
.knowNav .menulist li.active:after{position: absolute;content: '';left: 50%;margin-left: -8px;bottom: -2px;width: 15px;height: 9px;background: url(../images/menu_arr.png) no-repeat bottom center;}
.knowNav .menulist li a{padding: 0;}
.knowNav .knowClassify{position: absolute;width: 100%;-webkit-box-shadow: 0 2px 15px #ccc;-moz-box-shadow: 0 2px 15px #ccc;box-shadow: 0 2px 15px #ccc;background: rgba(243,243,243,.98);z-index: 20;left: 0;top: 35px;display: none;}
.knowNav .knowClassify .group{width: 150px;float: left;padding: 15px 0;height: 285px;border-right: 1px solid #ddd;}
.knowNav .knowClassify .group:last-child{border-right: none;}
.knowNav .knowClassify .group:first-child{margin-left: 200px;}
.knowNav .knowClassify .group ul li{width: 50%;float: left;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color: #353535;}
.knowNav .knowClassify .group:nth-child(2n) ul li{width: 100%;float: left;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color: #353535;}
.knowNav .knowClassify .group p{margin: 5px 0;height: 30px;line-height: 30px;text-align: center;color: #be0008;font-size: 14px;}
.knowNav .knowClassify .group p span{display: inline-block;height: 30px;line-height: 30px;position: relative;}
.knowNav .knowClassify .group p span:before{content: '';position: absolute;width: 10px;height: 1px;background: #be0008;left: -15px;top: 15px;}
.knowNav .knowClassify .group p span:after{content: '';position: absolute;width: 10px;height: 1px;background: #be0008;right: -15px;top: 15px;}
.knowNav .knowClassify .group.active{background: #fff;}
.knowNav .knowClassify .group li a:hover{color: #be0008;text-decoration: underline;}

.knowIndex .banner .swiper-slide{position: relative;}
.knowIndex .banner .swiper-slide p{position: absolute;width: 100%;color: #fff;left: 0;bottom: 0;font-size: 23px;line-height: 60px;height: 60px;overflow: hidden;padding: 0 15px;padding-right: 200px;}
.knowIndex .banner .swiper-slide .bottom-modal{display: block;width:100%;height:30%;position: absolute;bottom:0;left:0;
    background-image:linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-o-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-moz-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-ms-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%)}
.knowIndex .content .contBox{padding: 30px 15px;}
.knowIndex .content .group{margin-bottom: 15px;}
.knowIndex .content .group .cont .title{color: #000;font-size: 18px;line-height: 20px;font-weight: 400;padding-bottom: 10px;padding-top: 25px;padding-left: 10px;}
.knowIndex .content .group .cont .title .rt{font-size: 12px;color: #999;}
.knowIndex .content .group .cont .title .rt:hover{color: #b7a46c;}
.knowIndex .content .group1 .cont{background: #f7f7f7;padding: 0 10px 30px 35px;}
.knowIndex .content .group1 .cont .img img{display: block;width: 100%;}
.knowIndex .content .group1 .cont .list{border-top: 1px solid #333;padding-top: 20px;}
.knowIndex .content .group1 .cont .list li{position: relative;/*height: 68px;*/line-height: 24px;padding-left: 20px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px solid #e5e5e5;}
.knowIndex .content .group1 .cont .list li:last-child{border-bottom: none;}
.knowIndex .content .group1 .cont .list li a{font-size: 14px;color: #333;}
.knowIndex .content .group1 .cont .list li:hover a{color: #b7a46c;}
.knowIndex .content .group1 .cont .list li:before{content: '';position: absolute;width: 5px;height: 5px;border-radius: 50%;background: #333;left: 7px;top: 20px;}
.knowIndex .content .group1 .cont .list li:hover:before{background: #b7a46c}
.knowIndex .content .group2 .cont .list{margin-bottom: 15px;}
.knowIndex .content .group2 .cont .list li{position: relative;height: 36px;line-height: 36px;padding-left: 20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.knowIndex .content .group2 .cont .list li a{font-size: 14px;color: #333;}
.knowIndex .content .group2 .cont .list li:hover a{color: #b7a46c;}
.knowIndex .content .group2 .cont .list li:before{content: '';position: absolute;width: 5px;height: 5px;border-radius: 50%;background: #333;left: 7px;top: 15px;}
.knowIndex .content .group2 .cont .list li:hover:before{background: #b7a46c}
.knowIndex .content .group2 .cont .list li.has_img{height: 220px;padding-left: 0;white-space: inherit;margin-bottom: 20px;margin-top: 15px;}
.knowIndex .content .group2 .cont .list li.has_img:first-child{margin-top: 0;}
.knowIndex .content .group2 .cont .list li.has_img:before{display: none;}
.knowIndex .content .group2 .cont .list li.has_img .img{height: 150px;width: 100%;margin-bottom: 10px;overflow: hidden;}
/*.knowIndex .content .group2 .cont .list li.has_img .img img{height: 100px;width: 100%;}*/
.knowIndex .content .group2 .cont .list li.has_img .text{height: 24px;}
.knowIndex .content .group2 .cont .list li.has_img .text .headline{font-size: 14px;line-height: 24px;color: #333;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.knowIndex .content .group2 .cont .list li.has_img .text .headline:hover{color: #b7a46c;}
.knowIndex .content .group2 .cont .list li.has_img .text p{line-height: 20px;height: 69px;color: #8b8b8b;font-size: 13px;padding-top: 5px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;}
.knowIndex .content .group2 .cont .list li.no_img .text p{display: none;}
.knowIndex .content .group5 .cont .list{margin-top: 10px;}
.knowIndex .content .group5 .cont .list li{position: relative;height: 32px;line-height: 32px;padding-left: 20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.knowIndex .content .group5 .cont .list li a{font-size: 14px;color: #888;}
.knowIndex .content .group5 .cont .list li:hover a{color: #333;}
.knowIndex .content .group5 .cont .list li:before{content: '';position: absolute;width: 5px;height: 5px;border-radius: 50%;background: #999;left: 7px;top: 13px;}
.knowIndex .content .foundQ{padding: 30px 0; display: flex;justify-content: space-between;}
.knowIndex .content .foundQ a{width: 48%;display: block;height: 42px;background: #b7a46c;border: 1px solid #b7a46c;text-align: center;line-height: 40px;border-radius: 3px;font-size: 18px;color: #fff;margin: 0 auto;}
.knowIndex .content .foundQ a:hover{background: #b0974d;}
.knowIndex .content .group3 .cont{border: 1px solid #e8e8e8;padding: 10px;background: #b7a46c;border-radius: 5px;}
.knowIndex .content .group3 .cont .title{padding: 25px 10px;color: #fff;}
.knowIndex .content .group3 .cont .title span{font-size: 20px;color: #fff;}
.knowIndex .content .group3 .cont .daily{padding: 0 22px;line-height: 26px;width: 100%;height: 260px;background: #fff;position: relative;border-radius: 5px;}
.knowIndex .content .group3 .cont .daily h6{display: table;height: 164px;width: 100%;}
.knowIndex .content .group3 .cont .daily a{color: #000;display: table-cell;vertical-align: middle;font-size: 18px;line-height: 26px;}
.knowIndex .content .group3 .cont .daily a:hover{text-decoration: underline;}
.knowIndex .content .group3 .cont .dailyBtn{background: #fff;height: 62px;width: 100%;padding-top: 11px;}
.knowIndex .content .group3 .cont .dailyBtn a{display: block;width: 146px;height: 40px;font-size: 14px;color: #9e9e9f;line-height: 40px;border-radius: 3px;text-align: center;margin: 0 auto;border: 1px solid #9e9e9f;}
.knowIndex .content .group3 .cont .dailyBtn a:hover{border-color: #b7a46c;color: #b7a46c;}
.knowIndex .content .group4 .cont .list-box{height: 215px;overflow: hidden;}
.knowIndex .content .group4 .cont li{height: 36px;line-height: 36px;border-bottom: 1px dotted #999;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-left: 10px;}
.knowIndex .content .group4 .cont li a{font-size: 14px;color: #333;}
.knowIndex .content .group4 .cont li:hover a{color: #b0974d}

.knowIndex .moreHot{background: #eee;}
.knowIndex .moreHot .group .cont .title{color: #000;font-size: 18px;line-height: 20px;font-weight: 400;padding-bottom: 10px;padding-top: 25px;padding-left: 10px;}
.knowIndex .moreHot .group6 .cont .list{margin-top: 15px;}
.knowIndex .moreHot .group6 .cont .list li{background: #fff;padding: 0 38px 22px;border-radius: 5px;margin-bottom: 20px;}
.knowIndex .moreHot .group6 .cont .list li .headline{display: block;height: 62px;line-height: 62px;font-size: 18px;font-weight: 600;color: #333;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.knowIndex .moreHot .group6 .cont .list li .img{width: 224px;height: 116px;border-radius: 4px;overflow: hidden;float: left;}
/*.knowIndex .moreHot .group6 .cont .list li .img img{width: 224px;height: 116px;}*/
.knowIndex .moreHot .group6 .cont .list li .text{height: 116px;margin-left: 250px;padding: 8px 0;}
.knowIndex .moreHot .group6 .cont .list li .text p{line-height: 25px;font-size: 13px;color: #666;}
.knowIndex .moreHot .group6 .cont .list li .text p a{line-height: 25px;font-size: 13px;color: #b70009;padding-left: 10px;}

.knowList .tabClassify .content{padding: 10px 0;background: #fafafa;}
.knowList .tabClassify ul li{width: 20%;height: 34px;line-height: 34px;padding-left: 34px;float: left;border-right: 1px dashed #e7e7e7;}
.knowList .tabClassify ul li:nth-child(5n){border-right: none;}
.knowList .tabClassify ul li a{color: #3d3d3d;font-size: 14px;}
.knowList .tabClassify ul li a:hover{color: #be0008;text-decoration: underline;}
.knowList .tabClassify ul li a.active{color: #be0008;text-decoration: underline;}

.questionList{margin-top: 60px;}
.questionList .questionNav ul{padding: 0;border-bottom: 1px solid #E1E1E1;}
.questionList .questionNav li{height: 50px;line-height: 50px;width: 185px;text-align: center;background: #eaeaea;border-right: 1px solid #E1E1E1;color: #353535;cursor: pointer;font-size: 18px;float: left;border-left: 1px solid #E1E1E1;}
.questionList .questionNav li a{display: block;}
.questionList .questionNav li.active{background: #fff;color: #be0008;}
.questionList .questionNav li:first-child.active{border-left-color: #fff;}
.questionList .questionNav li.active a{background: #fff;border-right-color: #fff;color: #be0008;}
.questionList .cont-list{margin-top: 20px;}
.questionList .cont-list li{padding: 5px 0;border-bottom: 1px solid #f3f3f3;cursor: pointer;-webkit-transition: background-color .4s ease-in;-moz-transition: background-color .4s ease-in;-o-transition: background-color .4s ease-in;transition: background-color .4s ease-in;height: 50px;}
.questionList .cont-list li:hover{background: #fafafa;}
.questionList .cont-list li .question-title{float: left;height: 20px;line-height: 20px;font-size: 14px;margin: 10px 20px 10px 10px;}
.questionList .cont-list li .question-title:hover{text-decoration: underline;}
.questionList .cont-list li .question-tags{float: left;height: 20px;line-height: 20px;font-size: 14px;margin: 10px 0;}
.questionList .cont-list li .question-tags a{font-size: 12px;color: #bbb;float: left;margin-right: 15px;}
.questionList .cont-list li .question-info{float: right;height: 20px;line-height: 20px;font-size: 14px;color: #bbb;margin: 10px 0 10px 10px;}
.questionList .cont-list li .question-info .answer-num{border-right: 1px solid #e5e5e5;padding-right: 10px;float: left;}
.questionList .cont-list li .question-info .question-time{padding-left: 10px;float: left;}

/*百科*/
.cyclopedia .banner .swiper-slide{position: relative;}
.cyclopedia .banner .swiper-slide p{position: absolute;width: 100%;color: #fff;left: 0;bottom: 0;font-size: 23px;line-height: 60px;height: 60px;overflow: hidden;padding: 0 15px;padding-right: 200px;}
.cyclopedia .banner .swiper-slide .bottom-modal{display: block;width:100%;height:30%;position: absolute;bottom:0;left:0;
    background-image:linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-o-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-moz-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-webkit-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%);
    background-image:-ms-linear-gradient(bottom, rgba(0,0,0,9) 0%,rgba(255,255,255,.1) 90%,transparent 100%)}

.cyclopedia .content .group{padding: 30px 15px;}
.cyclopedia .content .group .title h3{height: 20px;line-height: 20px;float: left;font-size: 18px;color: #333;margin-bottom: 20px;}
.cyclopedia .content .group .title .more{float: right;font-size: 14px;color: #999;}
.cyclopedia .content .group .title .more:hover{color: #b7a46c;}
.cyclopedia .content .group .title .titleNav{height: 20px;line-height: 20px;float: left;font-size: 14px;color: #888;margin-left: 15px;}
.cyclopedia .content .group .title .titleNav span{float: left;padding: 0 6px;border-right: 1px solid #999;cursor: pointer;}
.cyclopedia .content .group .title .titleNav span.active{color: #be0008;}
.cyclopedia .content .group .title .titleNav span:last-child{border-right: none;}
.cyclopedia .content .group1 .hot-top li{height: 120px;border-radius: 4px;margin-bottom: 20px;}
.cyclopedia .content .group1 .hot-top li a{display: block;padding: 21px 15px;position: relative;}
.cyclopedia .content .group1 .hot-top li .tag{position: absolute;top: 0;right: 25px;width: 45px;height: 24px;line-height: 24px;text-align: center;font-size: 12px;font-weight: 600;color: #fff;background: #b7a46c}
.cyclopedia .content .group1 .hot-top li.list01{background: #434343;}
.cyclopedia .content .group1 .hot-top li.list02{background: #eeeeee;}
.cyclopedia .content .group1 .hot-top li h3{font-size: 18px;font-weight: 600;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 30px;line-height: 30px;color: #fff;}
.cyclopedia .content .group1 .hot-top li p{font-size: 13px;color: #fff;line-height: 24px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 48px;}
.cyclopedia .content .group1 .hot-top li.list02 h3{color: #666}
.cyclopedia .content .group1 .hot-top li.list02 p{color: #666}
.cyclopedia .content .group1 .navCont{border: 1px solid #959595;}
.cyclopedia .content .group1 .navCont li{background: #fff;float: left;width: 50%;height: 50px;border-bottom: 1px solid #959595;}
.cyclopedia .content .group1 .navCont li p{height: 48px;line-height: 48px;font-size: 14px;color: #666;padding-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cyclopedia .content .group1 .navCont li:nth-child(2n){border-left: 1px solid #959595;}
.cyclopedia .content .group1 .navCont li:nth-child(1),.cyclopedia .content .group1 .navCont li:nth-child(4),.cyclopedia .content .group1 .navCont li:nth-child(5),.cyclopedia .content .group1 .navCont li:nth-child(8),.cyclopedia .content .group1 .navCont li:nth-child(9),.cyclopedia .content .group1 .navCont li:nth-child(12){background: #eee;}
.cyclopedia .content .group1 .navCont li:nth-child(1),.cyclopedia .content .group1 .navCont li:nth-child(2){height: 90px;padding: 20px 0;}
.cyclopedia .content .group1 .navCont li:nth-child(1) p,.cyclopedia .content .group1 .navCont li:nth-child(2) p{line-height: 25px;height: 25px;}
.cyclopedia .content .group1 .navCont li:nth-child(11),.cyclopedia .content .group1 .navCont li:nth-child(12){border-bottom: none;}
.cyclopedia .content .group1 .navCont li:hover{background: #b7a46c;}
.cyclopedia .content .group1 .navCont li:hover p{color: #fff;}

.cyclopedia .content .group2 li{margin-bottom: 20px;}
.cyclopedia .content .group2 li .img{float: left;width: 160px;height: 120px;border-radius: 5px;overflow: hidden;}
/*.cyclopedia .content .group2 li .img img{width: 160px;height: 120px;}*/
.cyclopedia .content .group2 li .text{height: 120px;margin-left: 185px;}
.cyclopedia .content .group2 li .text .headline{height: 30px;line-height: 30px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;font-size: 16px;}
.cyclopedia .content .group2 li .text .headline:hover{color: #b7a46c}
.cyclopedia .content .group2 li .text p{margin-top: 5px;overflow: hidden;height: 63px;line-height: 21px;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;color: #666;font-size: 12px;}
.cyclopedia .content .group2 li .text p:hover{color: #b7a46c;}
.cyclopedia .content .group2 li.onlyImg{height: 205px;}
.cyclopedia .content .group2 li.onlyImg a{display: block;width: 100%;height: 205px;position: relative;overflow: hidden;border-radius: 5px;}
.cyclopedia .content .group2 li.onlyImg a img{display: block;width: 100%;}
.cyclopedia .content .group2 li.onlyImg a p{position: absolute;width: 100%;height: 45px;line-height: 45px;left: 0;bottom: 0;color: #fff;font-size: 18px;padding-left: 20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.cyclopedia .content .groupRight .cont .list{padding: 0 10px;background: #eee;}
.cyclopedia .content .groupRight .cont .list li{height: 95px;line-height: 94px;border-bottom: 1px solid #fff;}
.cyclopedia .content .groupRight .cont .list li .headline{font-size: 14px;color: #333;line-height: 94px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;}
.cyclopedia .content .groupRight .cont .list li .headline:hover{color: #b7a46c;}
.cyclopedia .content .groupRight .cont .list li .img{padding: 27px 15px 27px 20px;float: left;}
.cyclopedia .content .groupRight .cont .list li .img img{width: 40px;height: 40px;border-radius: 3px;}
.cyclopedia .content .groupRight .cont .list li:last-child{height: auto;border-bottom: none;}

.cyclopedia .content .group3{padding: 0 15px 30px;}
.cyclopedia .content .group3 li{float: left;width: 290px;height: 162px;margin-right: calc((100% - 290px*4)/3);}
.cyclopedia .content .group3 li:last-child{margin-right: 0;}

.cyclopedia .content .group4{border-top: 2px solid #666;padding: 15px;}
.cyclopedia .content .group4 .item{padding: 20px 0 20px 20px;border-bottom: 1px solid #eee;width: 20%;float: left;}
.cyclopedia .content .group4 .item .tit{font-size: 16px;margin-bottom: 5px;}
.cyclopedia .content .group4 .item ul{padding-right: 20px;border-right: 1px solid #eee;height: 100px;}
.cyclopedia .content .group4 .item:nth-child(5n) ul{border-right: none;}
.cyclopedia .content .group4 .item li{float: left;text-align: left;width: 100%;height: 20px;line-height: 20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.cyclopedia .content .group4 .item li a{color: #666;}
.cyclopedia .content .group4 .item li a:hover{color: #b7a46c;}

.cyclopedia .content .groupRight .foundEntry{padding: 50px 0;}
.cyclopedia .content .groupRight .foundEntry a{width: 150px;display: block;height: 50px;background: #b7a46c;text-align: center;line-height: 50px;border-radius: 3px;font-size: 18px;color: #fff;margin: 0 auto;}
.cyclopedia .content .groupRight .foundEntry a:hover{background: #b0974d;}

.cyclopediaList .content .tabNav{text-align: center;margin: 20px auto;border-bottom: 2px solid #eee;}
.cyclopediaList .content .tabNav ul{display: inline-block;height: 40px;margin-bottom: -4px;}
.cyclopediaList .content .tabNav li{float: left;margin: 0 60px;font-size: 20px;color: #333;height: 40px;line-height: 24px;border-bottom: 2px solid transparent;cursor: pointer;}
.cyclopediaList .content .tabNav li.active{color: #be0008;border-color: #be0008;font-weight: 600;}
.cyclopediaList .content .filtrateTag{height: 30px;line-height: 30px;margin-bottom: 20px;position: relative;}
.cyclopediaList .content .filtrateTag .tagNav{display: flex;flex-flow: row wrap;}
.cyclopediaList .content .filtrateTag .tagNav li{flex: 1;text-align: center;line-height: 30px;}
.cyclopediaList .content .filtrateTag .tagNav li a{font-size: 16px;color: #666;}
.cyclopediaList .content .filtrateTag .tagNav li.active{background: #be0008;}
.cyclopediaList .content .filtrateTag .tagNav li:hover{background: #be0008;}
.cyclopediaList .content .filtrateTag .tagNav li:hover a{color: #fff;}
.cyclopediaList .content .filtrateTag .tagNav li.active a{color: #fff;}
.cyclopediaList .content .filtrateTag .tagCont{position: absolute;width: 100%;left: 0;top: 30px;padding: 15px;background: #fff;display: none;border: 1px solid #eee;min-height: 120px;}
.cyclopediaList .content .filtrateTag .tagCont .group{display: none;}
.cyclopediaList .content .filtrateTag .tagCont a{float: left;height: 30px;line-height: 30px;margin-right: 30px;font-size: 16px;color: #666;}
.cyclopediaList .content .filtrateTag .tagCont a.active{color: #be0008;font-weight: 600;}
.cyclopediaList .content .tabCont .group1 ul li{width: calc((100% - 20px*3)/4);float: left;margin-right: 20px;border: 1px solid #e8e8e8;margin-bottom: 30px;}
.cyclopediaList .content .tabCont .group1 ul li:nth-child(4n){margin-right: 0;}
.cyclopediaList .content .tabCont .group1 ul li .img{width: 100%;height: 214px;overflow: hidden;}
.cyclopediaList .content .tabCont .group1 ul li .img img{width: 100%;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box{overflow: hidden;margin: 18px 15px;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .title{height: 26px;line-height: 26px;font-size: 18px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-weight: 600;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .author-views{font-size: 14px;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .author-views .author{margin-top: 5px;color: #999;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .author-views .author a{color: #be0008;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .author-views .article{margin-top: 8px;line-height: 22px;color: #666;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 22px;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .tag{margin-top: 10px;overflow: hidden;height: 30px;line-height: 30px;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .tag a{float: left;margin-right: 6px;padding: 0 8px;border: solid 1px #e2e2e2;color: #666;border-radius: 2px;height: 30px;}
.cyclopediaList .content .tabCont .group1 ul li .desc-box .tag a:hover{border-color: #be0008;color: #be0008;}
.cyclopediaList .content .tabCont .group2 ul li{width: calc((100% - 20px*2)/3);float: left;margin-right: 20px;border: 1px solid #e8e8e8;margin-bottom: 30px;}
.cyclopediaList .content .tabCont .group2 ul li:nth-child(3n){margin-right: 0;}
.cyclopediaList .content .tabCont .group2 ul li .desc-box{overflow: hidden;margin: 10px;}
.cyclopediaList .content .tabCont .group2 ul li .desc-box .title{height: 26px;line-height: 26px;font-size: 18px;color: #333;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.cyclopediaList .content .tabCont .group2 ul li .desc-box .author-views{font-size: 14px;overflow: hidden;height: 18px;line-height: 18px;}
.cyclopediaList .content .tabCont .group2 ul li .desc-box .author-views .author{float: left;width: 50%;overflow: hidden;height: 18px;}
.cyclopediaList .content .tabCont .group2 ul li .desc-box .author-views .views{float: right;}

.answer-box{margin: 30px 0;}
.answer-box .answer-title h3{font-size: 24px;line-height: 34px;font-weight: 400;overflow: hidden;}
.answer-box .answer-describe{padding: 15px 0;}
.answer-box .answer-describe p{font-size: 14px;color: #333;line-height: 20px;}
.answer-box .answer-link{margin-bottom: 15px;}
.answer-box .answer-link .answer{font-size: 12px;color: #999;}
.answer-box .answer-link .f-pipe{display: inline-block;vertical-align: middle;margin: 0 8px;height: 13px;overflow: hidden;width: 1px;background-color: #e8ecee;position: relative;top: -2px;}
.answer-box .answer-link .time{font-size: 12px;color: #999;}
.answer-box .answer-link .tag a{font-size: 12px;color: #999;margin: 0 8px;}
.answer-box .answer-link .tag .fa{color: #35b558;}
.answer-box .canYou{border: 1px solid #f1f1f1;padding: 15px 30px 16px;background: #fefefe;margin-bottom: 30px;}
.answer-box .canYou .icon{width: 84px;height: 103px;float: left;}
.answer-box .canYou .text{height: 103px;margin-left: 100px;padding-top: 23px;}
.answer-box .canYou .text h3{font-size: 20px;color: #666;margin-bottom: 15px;}
.answer-box .canYou .text p{font-size: 15px;color: #666;}
.answer-box .myAnswer{margin-bottom: 50px;}
.answer-box .myAnswer .foundBtn{width: 160px;display: block;height: 36px;background: #459df5;border: 1px solid #3b92e9;text-align: center;border-radius: 3px;font-size: 18px;color: #fff;margin-top: 15px;}
.answer-box .myAnswer .foundBtn:hover{background: #2b8bea;}
.answer-box .answerList{padding-top: 25px;border-top: 1px solid #e8ecee;}
.answer-box .answerList h2{font-size: 20px;font-weight: 400;color: #798e99;}
.answer-box .answerList .list{margin-bottom: 30px;border-bottom: 2px solid #a3acb5;}
.answer-box .answerList .list .item{padding: 20px 0 10px;border-bottom: 1px dotted #e9e9e9;}
.answer-box .answerList .list .item:last-child{border-bottom: none;}
.answer-box .answerList .list .item .cont p{font-size: 14px;line-height: 24px;}
.answer-box .answerList .list .item .answerer{height: 36px;margin: 10px 0 0;font-size: 12px;color: #999;line-height: 36px;}
.answer-box .answerList .list .item .answerer a{color: #3f88bf;}
.answer-box .answerList .list .optimum{color: #35b558;height: 30px;font-size: 22px;line-height: 30px;margin-bottom: 15px;}
.answer-box .answerList .list .optimum h3{display: inline-block;height: 30px;font-size: 18px;line-height: 30px;color: #333;}
.answer-box .answerList .list .optimum img{float: left;margin-right: 10px;height: 30px;width: auto;}
.answer-box .answerList .list .optimum .time{float: right;font-size: 13px;color: #999;}

.foundEntry form.found{width: 1000px;margin: 30px auto;padding: 40px 136px;background: #f8f8f8;}
.foundEntry .found .foundInput label{width: 100px;line-height: 38px;font-size: 18px;float: left;}
.foundEntry .found .foundInput input{width: calc(100% - 100px);height: 38px;border: 1px solid #c8c8c8;outline: none;padding: 0 15px;float: left;background: #fff;}
.foundEntry .found .foundInput .classifyInput{padding-right: 36px;}
.foundEntry .found .foundInput .fa{position: absolute;width: 36px;height: 36px;top: 1px;right: 1px;font-size: 24px;line-height: 36px;text-align: center;background: #f8f8f8;border-left: 1px solid #c8c8c8;color: #459df5;}
.foundEntry .found .foundInput input:focus{border-color: #459df5;}
.foundEntry .found .explain{margin: 20px 0;margin-left: 75px;width: 385px;}
.foundEntry .found .explain p{margin: 5px 0;color: #999;line-height: 22px;font-size: 12px;}
.foundEntry .found .explain p.top-line{padding: 15px 0;margin: 0;border-top: 1px dashed #efefef;}
.foundEntry .found .foundBtn{width: 160px;display: block;height: 36px;background: #459df5;border: 1px solid #3b92e9;text-align: center;border-radius: 3px;font-size: 18px;color: #fff;margin-left: 100px;}
.foundEntry .found .foundBtn:hover{background: #2b8bea;}

.foundEntry .foundQ .foundInput{position: relative;margin-bottom: 15px;}
.foundEntry .foundQ .foundInput .cover{width: calc(100% - 100px);min-height: 38px;border: 1px solid #c8c8c8;outline: none;padding: 6px 15px;float: left;background: #fff;border-radius: 4px;}
.foundEntry .foundQ .foundInput .cover .uploadImg{width: 150px;display: block;position: relative;}
.foundEntry .foundQ .foundInput .cover .uploadImg img{display: block;width: 150px;}
.foundEntry .foundQ .foundInput .cover .uploadImg p{font-size: 14px;margin-bottom: 5px;}
.foundEntry .foundQ .foundInput .classifyDiv{width: calc(100% - 100px);min-height: 38px;border: 1px solid #c8c8c8;outline: none;padding: 0 15px 6px;float: left;overflow-y: scroll;background: #fff;border-radius: 4px;}
.foundEntry .foundQ .foundInput .classifyDiv li{float: left;width: auto;padding-right: 20px;height: 24px;line-height: 23px;margin-top: 6px;padding-left: 5px;border: 1px solid #bcbcbc;background: #e1e1e1;margin-right: 5px;position: relative;display: none;}
.foundEntry .foundQ .foundInput .classifyDiv li span{position: absolute;width: 20px;height: 24px;text-align: center;line-height: 23px;color: #666;cursor: pointer;}
.foundEntry .foundQ .foundInput .classifyDiv li span:hover{color: #fff;}
.foundEntry .foundQ .foundInput .classifyDiv li:hover{background: #2b8bea;color: #fff;}
.foundEntry .foundQ .foundInput .classifyList{position: absolute;left: 100px;top: 38px;width: calc(100% - 100px);border: 1px solid #c8c8c8;border-top: none;background: #fff;z-index: 9999;display: none;max-height: 380px;overflow-y: scroll;}
.foundEntry .foundQ .foundInput .classifyList li{line-height: 38px;height: 38px;border-bottom: 1px solid #c8c8c8;padding: 0 15px;}
.foundEntry .foundQ .foundInput .classifyList li:last-child{border-bottom: none;}
.foundEntry .foundQ .foundInput .classifyList li:hover{background: #459df5;color: #fff;}
.foundEntry .foundQ .foundInput .classifyList_2{position: absolute;left: 100px;top: 100%;width: calc(100% - 100px);border: 1px solid #c8c8c8;border-top: none;background: #fff;z-index: 9999;display: none;max-height: 380px;overflow-y: scroll;}
.foundEntry .foundQ .foundInput .classifyList_2 .Sinput{padding: 5px 8px;border-bottom: 1px solid #c8c8c8;}
.foundEntry .foundQ .foundInput .classifyList_2 .Sinput input{float: none;width: 100%;margin: 0;}
.foundEntry .foundQ .foundInput .classifyList_2 li{line-height: 38px;height: 38px;border-bottom: 1px solid #c8c8c8;padding: 0 15px;}
.foundEntry .foundQ .foundInput .classifyList_2 li:last-child{border-bottom: none;}
.foundEntry .foundQ .foundInput .classifyList_2 li:hover{background: #459df5;color: #fff;}
.foundEntry .foundQ .foundInput .zhaiyao{width: calc(100% - 100px);height: 132px;border: 1px solid #c8c8c8;outline: none;padding: 0 6px;float: left;line-height: 24px;resize: none}
.foundEntry .foundQ .foundInput .zhaiyao:focus{border-color: #459df5;}
.foundEntry .foundQ .foundInput .controls{width: calc(100% - 100px);float: left;}
.foundEntry .foundQ .foundInput .controls .select2-container{width: 100%;height: 38px;border: 1px solid #c8c8c8;outline: none;float: left;background: #fff;margin: 0;border-radius: 4px;}
.foundEntry .foundQ .foundInput .controls .select2-container .select2-choice{width: 100%;height: 36px;border: none;outline: none;padding: 0 15px;background: #fff;margin: 0;line-height: 36px;}
.foundEntry .foundQ .foundInput .controls .select2-container .select2-choice div{display: none;}
.select2-dropdown-open .select2-choice{border-color: #459df5 !important;}

.knowDetail .left{width: 810px;}
.knowDetail .right{width: 300px;}

#contentNav{position: fixed;width: 300px;bottom: 200px;background: #f7f7f7;display: none;height: 280px;overflow: hidden;}
#contentNav ul{padding: 5px 20px;width: 320px;overflow-y: scroll;height: 280px;}
#contentNav li{height: 30px !important;line-height: 30px;padding: 0 20px;font-size: 14px;border-left: 1px solid #ccc;position: relative;cursor: pointer;}
#contentNav li:before{content: '';position: absolute;width: 7px;height: 7px;border-radius: 50%;background: #ccc;left: -4px;top: 11px;}
#contentNav li.active{color: #be0008;}
#contentNav li.active:before{background: #be0008;}
#contentNav li.active:after{content: '';position: absolute;width: 13px;height: 13px;border-radius: 50%;left: -7px;top: 8px;border: 1px solid #be0008;}

.details-box .details-info h1{font-size: 20px !important;line-height: 1.5;margin: 10px 0!important;border-bottom: none!important;border-left: 5px solid #459df5;padding: 0 0 0 5px !important;position: relative;overflow: hidden;}
.details-box .details-info h1:after{position: absolute;content: '';height: 1px;width: 100%;background: #e1e1e8;top: 50%;margin-left: 5px;}
.edui-default .edui-editor{z-index: 99 !important;}