
#choose_guide_menu-default .choose_guide .labels{padding:24px 15px; overflow:hidden; margin:0;}
#choose_guide_menu-default .choose_guide .labels li{float:left;}
#choose_guide_menu-default .choose_guide .labels li a{padding:0 14px; font-size:14px; font-weight:bold; line-height:28px;}
#choose_guide_menu-default .choose_guide .private_ordering{display:block;margin:auto;font:14px/24px "寰蒋闆呴粦";color:#b7a46c;width:130px;border:1px solid #c9bc9a; border-radius:2px;background:#e3dfd5;}

#choose_guide_menu-default .choose_guide dl dd.sideBox{width: 722px;height: 437px;padding: 18px 40px; background-color:#fff; position:absolute; top:0; left:200px; display:none;}
#choose_guide_menu-default .choose_guide .brandGrade.cur dl dd.sideBox{display:block;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands{padding:20px 0 12px; border-bottom:1px dashed #9e9e9f;overflow:hidden;}

#choose_guide_menu-default .choose_guide dl dd.sideBox .brands p{font-size:14px; font-weight:bold; text-align:left; line-height:28px; cursor:default;width:52px;float:left;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList{margin-right:-13px; margin-right:-13px\9; margin-right:-14px\0; margin-bottom:5px; text-align:left;width:586px;float:left;overflow:hidden;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList a{display:inline-block; padding-right:13px;color:#606060;font:12px/24px "寰蒋闆呴粦";}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList span{float:left;width:82px;text-align:center;color:#606060;font:12px/24px "寰蒋闆呴粦";}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics{overflow:hidden;margin-bottom:12px;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li{width:92px;width:92px;float:left;margin-right:14px;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li img{border:1px solid #d7d3d2}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li:last-of-type{margin-right:0;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li a{padding:0;display:block;}
/*.nav_container .nav_box .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li img{width:100%;border:1px solid #d7d3d2;height:62px;}*/
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li i{
    width:100%;border:1px solid #d7d3d2;height:62px;
    display:block;
    background-size:cover;
}
.promotion.search a{
    padding-right:0 !important;
}



#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name7 i {background-image:url(../images/brand_logo/name7.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name13 i {background-image:url(../images/brand_logo/name13.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name4 i {background-image:url(../images/brand_logo/name4.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name8 i {background-image:url(../images/brand_logo/name8.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name12 i {background-image:url(../images/brand_logo/name12.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name16 i {background-image:url(../images/brand_logo/name16.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name6 i {background-image:url(../images/brand_logo/name6.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name14 i {background-image:url(../images/brand_logo/name14.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name5 i {background-image:url(../images/brand_logo/name5.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name19 i {background-image:url(../images/brand_logo/name19.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name20 i {background-image:url(../images/brand_logo/name20.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name3 i {background-image:url(../images/brand_logo/name3.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name74 i {background-image:url(../images/brand_logo/name74.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name72 i {background-image:url(../images/brand_logo/name72.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name73 i {background-image:url(../images/brand_logo/name73.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name65 i {background-image:url(../images/brand_logo/name65.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name70 i {background-image:url(../images/brand_logo/name70.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name67 i {background-image:url(../images/brand_logo/name67.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name69 i {background-image:url(../images/brand_logo/name69.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name71 i {background-image:url(../images/brand_logo/name71.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name68 i {background-image:url(../images/brand_logo/name68.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name66 i {background-image:url(../images/brand_logo/name66.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name81 i {background-image:url(../images/brand_logo/name81.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name79 i {background-image:url(../images/brand_logo/name79.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name75 i {background-image:url(../images/brand_logo/name75.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name119 i {background-image:url(../images/brand_logo/name119.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name120 i {background-image:url(../images/brand_logo/name120.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name86 i {background-image:url(../images/brand_logo/name86.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name29 i {background-image:url(../images/brand_logo/name29.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name110 i {background-image:url(../images/brand_logo/name110.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name130 i {background-image:url(../images/brand_logo/name130.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name52481 i {background-image:url(../images/brand_logo/name52481.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name122 i {background-image:url(../images/brand_logo/name122.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name52961 i {background-image:url(../images/brand_logo/name52961.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name115 i {background-image:url(../images/brand_logo/name115.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name112 i {background-image:url(../images/brand_logo/name112.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name113 i {background-image:url(../images/brand_logo/name113.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name118 i {background-image:url(../images/brand_logo/name118.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name114 i {background-image:url(../images/brand_logo/name114.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name53059 i {background-image:url(../images/brand_logo/name53059.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name38 i {background-image:url(../images/brand_logo/name38.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name121 i {background-image:url(../images/brand_logo/name121.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name123 i {background-image:url(../images/brand_logo/name123.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name61265 i {background-image:url(../images/brand_logo/name61265.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name61267 i {background-image:url(../images/brand_logo/name61267.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name82 i {background-image:url(../images/brand_logo/name82.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name83 i {background-image:url(../images/brand_logo/name83.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name43 i {background-image:url(../images/brand_logo/name43.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name128 i {background-image:url(../images/brand_logo/name128.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name127 i {background-image:url(../images/brand_logo/name127.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name131 i {background-image:url(../images/brand_logo/name131.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name111 i {background-image:url(../images/brand_logo/name111.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name132 i {background-image:url(../images/brand_logo/name132.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name133 i {background-image:url(../images/brand_logo/name133.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name18 i {background-image:url(../images/brand_logo/name18.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name109 i {background-image:url(../images/brand_logo/name109.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name77 i {background-image:url(../images/brand_logo/name77.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name129 i {background-image:url(../images/brand_logo/name129.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name17 i {background-image:url(../images/brand_logo/name17.jpg);}

.sideBox .brands li:hover span{
    color:#bf0008 !important;
}
.sideBox .brandList a:hover{
    color:#bf0008 !important;
}
.sideBox .brandList span:hover{
    color:#bf0008 !important;
}

#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li.name7 i{background-image:url(../images/brand_logo/name7.jpg);}
#choose_guide_menu-default .choose_guide dl dd.sideBox .brands .brandList .brandList_classics li span{width:100%;display:block;text-align:center;font:12px/24px "寰蒋闆呴粦";color:#999;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .promotion{border:none;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .image{padding:10px 15px;}

#choose_guide_menu-default .choose_guide dl dd.sideBox .search p{line-height:24px;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .search .brandList{margin-bottom:12px;}
#choose_guide_menu-default .choose_guide dl dd.sideBox .search .brandList span{margin-right:12px;cursor:pointer;background:#e2e1e0;}

#choose_guide_menu-default .choose_guide dl dd.sideBox .zhoubian_advertisement{
    display:block;
    margin-left:52px;
    width:326px;
}
#choose_guide_menu-default .choose_guide dl dd.sideBox .zhoubian_advertisement img{
    width:100%;
}

